@import url('./utilitarios.css');
@import url('./home/navegacao.css');
@import url('./home/introducao.css');
@import url('./home/bicicletas.css');
@import url('./home/diferencial.css');
@import url('./home/parceiros.css');
@import url('./home/depoimento.css');

body {
    margin: 0 auto;
    padding: 0;
    padding-bottom: 1000px;
    box-sizing: border-box;    
    background-color: var(--w);
}

h1,h2,h3,h4,h5,p,ul,li,span,a{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}