:root {
    --w: #ffffff;
    --c1: #f7f7f7;
    --c2: #ededed;
    --c3: #dedede;
    --c4: #cccccc;
    --c5: #b2b2b2;
    --c6: #9c9c9c;
    --c7: #717171;
    --c8: #595959;
    --c9: #404040;
    --c10: #2e2e2e;
    --c11: #111111;
    --c12: #000000;

    --p5: #332200;
    --p4: #664400;
    --p3: #a66f00;
    --p2: #e4a30b;
    --p1: #ffbb00;

    --gradiente: linear-gradient(to bottom, #ffbf00, #f2a50c);
}

.screen-1 {    
    max-width: 1160px;
    margin:  0 auto;
}

.screen-2 {
    max-width: 1460px;
    margin: 0 auto;
}

.font-1-xxl {
    font-size: 64px;
    font-weight: 600;
     line-height: 72px;
     font-family: 'Poppins';
}

.font-1-xl {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    font-family: 'Poppins';
}

.font-1-l {
    font-size: 24px;
    font-weight: 400;  
    line-height: 36px;
    font-family: 'Poppins';
}

.font-2-l {
    font-size: 24px;
    font-weight: 400;  
    line-height: 36px;
    font-family: 'Roboto';
}

.font-2-l-b {
    font-size: 24px;
    font-weight: 500;  
    line-height: 36px;
    letter-spacing: 1.5;
    text-transform: uppercase;
    font-family: 'Roboto';
}

.font-1-m {
    font-size: 18px;
    font-weight: 400;  
    line-height: 24px;
    font-family: 'Poppins';
}

.font-1-m-b {
    font-size: 18px;
    font-weight: 600;  
     line-height: 24px;
     font-family: 'Poppins';
}

.font-2-m {
    font-size: 18px;
    font-weight: 500;  
     line-height: 24px;
     font-family: 'Roboto';
}

.font-1-s {
    font-size: 16px;
    font-weight: 400;  
     line-height: 24px;
     font-family: 'Poppins';
}

.font-2-s {
    font-size: 16px;
    font-weight: 400;  
     line-height: 24px;
     font-family: 'Roboto';
}

.font-2-xs {
    font-size: 14px;
    font-weight: 400;  
     line-height: 20px;
     font-family: 'Roboto';
}

.font-1-xs {
    font-size: 12px;
    font-weight: 600;  
     line-height: 20px;
     font-family: 'Poppins';
}

.btn {
    padding:16px 32px;
    border-radius: 5px; 
    color: var(--p5);
    background: var(--gradiente);
}

.btn-prata {
    padding:16px 32px;
    border-radius: 5px; 
    background: var(--c10);
    color: var(--c4); 
}

.upper {
    text-transform: uppercase;
}

.ponto {
    color: var(--p1);
}