.footer {
    background: var(--cor-12);
    color: var(--cor-0);
    padding: 60px 0;
}

.footer .container {
    display: grid;
    grid-template-columns: minmax(auto, 160px) 1fr 1fr;
    gap: 80px 140px;
    color: var(--cor-6);
}

.footer .redes {
    display: flex;
    gap: 25px;
}

.footer .subtitulo {
    text-transform: uppercase;
    color: var(--cor-0);
    margin-bottom: 20px;
}

.contato-lista {
    display: grid;
    background: var(--cor-11);
    gap: 2px;
}

.contato-lista li{
    background-color: var(--cor-12);
    padding: 20px 0;
}

.contato-lista p {
    margin: 5px 0;
}

.info-lista {
    margin: 40px 0;
}

.info-lista li {
    margin: 10px 0;
}

.footer .direitos {
    grid-row: 2;
    grid-column: 1/-1;
}

@media (max-width: 1400px) {
    .footer {
        padding: 60px 60px;
    }

    .footer .container {
        gap: 80px 80px;
    }
}
@media (max-width: 900px) {
    .footer .container {
        grid-template-columns:  1fr;        
        grid-template-rows: repeat(4, auto);
        gap: 20px;
        color: var(--cor-6);
    }

    .footer .direitos {
        grid-row: -1;
    }

    .footer img{
        place-self: end;
    }
}
@media (max-width: 600px) {
    .footer img{
        place-self: start;
        grid-row: -2;
    }
}

@media (max-width: 400px) {
    .footer {
        padding: 60px 40px;
    }
    .contato-lista li{
        padding: 20px 0;
    }    
}