.bicicletas {
    padding: 240px 0;
}

.bicicletas-titulo-posicao {
    width: 1160px;
    margin: 0 auto;
}

.bicicletas-titulo {
    margin-bottom: 40px;
    color: var(--cor-or-11);
}

.bicicletas-subtitulo {
    color: var(--cor-or-11);
    position: relative;
    margin: 16px 0 8px 20px;
}

.bicicletas-subtitulo::after {
    content: '';
    display: block;
    background-color: var(--cor-p1);
    width: 12px;
    height: 8px;
    position: absolute;
    left: -20px;
    top: 16px;
}

.bicicletas-texto {
    color: var(--cor-or-8);
    padding-left: 20px;
}

.bicicletas img{
    display: block;
    max-width: 100%;
    border-radius: 5px;
}

.bicicletas-lista {
    display: flex;
    gap: 40px;
}

@media (max-width: 1400px) {
    .bicicletas {
        padding: 100px 20px;
    }
}

@media (max-width: 900px) {
    .bicicletas-lista {
        flex-wrap: wrap;
        justify-content: center;
    }

    .bicicletas img{
        width: 255px;
    }

    .bicicletas-titulo {
        font-size: 32px;
        line-height: 42px;
        width: auto;
        word-wrap: break-word;
        text-align: center;
    }
    
}
