.depoimento {
    display: grid;
    grid-template-columns: 1fr 1fr;    
    background: var(--cor-p1);
}

.depoimento img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.depoimento-items {
    background: var(--cor-p1);
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.depoimento-texto {
    font-size: 36px;
    line-height: 48px;
    color: var(--cor-p5);
    font-family: 'Merriweather';
    margin-bottom: 32px;
    position: relative;    
    width: 80%;
}

.depoimento-texto::before {
    content: '';
    background: url(../../img/dec/“left.svg);
    display: inline-block;
    width: 40px;
    height: 35px;
    position: absolute;
    left: -40px;
    top: -15px;
}

.depoimento-texto::after {
    content: '';
    background: url(../../img/dec/”right.svg);
    display: inline-block;
    width: 40px;
    height: 35px;
    position: absolute;
    bottom: -15px;
    right: -40px;
}


.depoimento-nome {
    color: var(--cor-p4);
    line-height: 32px;
    font-weight: 600;
    display: block;
}

@media (max-width: 1400px) {
    .depoimento-texto {
        font-size: 24px;
        line-height: 32px;
    }
}

@media (max-width: 900px) {
    .depoimento {
        grid-template-columns: auto 1fr;
    }

    .depoimento img {
        margin-left:40px;
        max-height: 200px;
        max-width: 200px;
        border-radius: 50%;
        place-self: center;
        object-fit: cover;
    }

    .depoimento-texto {
        font-size: 18px;
        line-height: 24px;
    }

    .depoimento-items {
        padding: 50px;
    }
    
}

@media (max-width: 600px) {
    .depoimento {
        grid-template-columns: 1fr;
    }

    .depoimento img {
        margin: 40px 0 20px 50px;
        max-height: 100px;
        max-width: 100px;
        border-radius: 50%;
        place-self: start;
        object-fit: cover;
    }

    .depoimento-texto {
        font-size: 18px;
        line-height: 24px;      
        width: 100%;
    }

    .depoimento-items {
        padding: 20px 50px 40px;
    }
}

