.introducao {
    background-color: var(--c12);
}

.introducao .container {
    max-width: 1160px;
    margin:  0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    height: 680px;
    color: var(--w);
}

.introducao-img {
    grid-column: 2;
    position: relative;
}

.introducao img{
    position: absolute;
    height: 800px;
    width: 640px;
    display: block;
    object-fit: cover;
    border-radius: 5px;
    object-position: 75% 25%;
}

.introducao span {
    color: var(--p1);
}

.introducao div {
    grid-row: 1;
}

.introducao-items {
    /* padding-left: 80px; */
    padding-top: 200px;
}

.introducao-titulo {
    margin-bottom: 32px;
    width: 520px;
}

.introducao-texto {
    margin-bottom: 20px;
    max-width: 513px;
    color: var(--c5);
}

.introducao .btn {
    color: var(--p5);
    cursor: pointer;
}

@media (max-width: 1400px) {
    .introducao {
        height: 100%;
        padding:0;
        /* padding-bottom: 60px; */
    } 

    .introducao .container {
        max-width: 1160px;
        margin:  0 auto;
        padding: 0 20px;
        padding-bottom: 120px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        color: var(--w);
    }

    .introducao img{
        position: initial;
        max-width: 100%;
    }    
}

@media (max-width: 900px) {
    .introducao {        
        position: relative;
    }

    .introducao::after {
        content: '';
        display: block;
        position:  absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        background: url('../../img/bicicleta/nimbus1.jpg');
        background-position: 70% 40%;
    }

    .introducao-img {
        display: none;
    }

    .introducao-items {
        padding-top: 50px;
        z-index: 1;
    }    

    .introducao .container {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    
    .introducao-titulo {
        font-size: 32px;
        line-height: 42px;
        width: auto;
        word-wrap: break-word;
    }
    
    .introducao-texto {
        font-size: 18px;
        line-height: 24px;
        width: auto;
    }

    .introducao .btn {
        font-size: 16px;
        line-height: 24px;
        padding: 10px 20px;
    }
}