.header {
    background-color: var(--c12);
    padding: 25px 0;
    color: var(--w);
}

.navegacao { 
    display: flex;
    justify-content: space-between;
}

.navegacao img {
    place-self: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.menu li{
    padding: 10px 0;
    cursor: pointer;
}

@media (max-width: 1400px) {
    .navegacao {
        padding: 0 20px;
        gap: 20px;
    }
}

@media (max-width: 900px) {
    .navegacao {
        flex-direction: column;
    }

    .menu {
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
}

@media (max-width: 400px) {
    .menu {
        flex-direction: column;
        gap: 0px;
        display: block;
        text-align: center;
    }
}
