.seguros {
    background: var(--cor-11);
    color: var(--cor-0);
    padding: 60px 0 120px 0;
}  

.seguros-titulo {    
    padding-bottom: 60px;
}

.seguros .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.seguros .cartao {
    background: var(--cor-12);
    border-radius: 5px;
    width: 560px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 32px 36px 32px 64px;
    gap: 20px;
    box-sizing: border-box;
    align-content: center;
}

.seguros .cartao-lista {
    grid-column: 1 / -1;
}

.seguros .cartao-lista li {
    margin: 20px 0;
    position: relative;
}

.seguros .cartao-lista li::before {
    content: '';
    display: block;
    background: url('../../img/dec/Vector\ 6.svg') no-repeat;
    width: 15px;
    height: 10px;
    position: absolute;
    top: 8px;
    left: -20px;
}

.seguros .cartao-item {
    text-align: right;
    min-width: 61px;
}

.seguros .cartao-modo {
    color: var(--cor-6);
    line-height: 0px;
}

.seguros .ouro {
    text-transform: uppercase;
    color: var(--cor-p1);
}

.seguros .prata {
    text-transform: uppercase;
    color: var(--cor-6);
}


.seguros .btn, .seguros .btn-prata {
    justify-self: start;
}

@media (max-width: 1400px) {
    .seguros {    
        padding: 60px 20px 120px 20px;
    }
    .seguros-titulo {    
        padding-left: 40px;
    }
}

@media (max-width: 900px) {
    .seguros {    
        padding: 60px 20px 120px 20px;
    }

    .seguros-titulo {    
        padding-left: 40px;
    }

    .seguros .cartao {
        width: 100%;
        max-width: 500px;
    }    

    .seguros .container {        
        flex-direction: column-reverse;
    }
}

@media (max-width: 600px) {
    .seguros {    
        padding: 60px 10px 80px 10px;
    }

    .seguros-titulo {    
        padding-bottom: 0;
        font-size: 42px;
    }
    

    .cartao-preco {
        font-size: 18px;
    }

    .cartao .ouro, .cartao .prata {
        font-size: 22px;
    }

    .seguros .cartao {
        padding: 32px 36px 32px 36px;
        gap: 10px;
    }

    .seguros .cartao-lista li {
        font-size: 14px;        
        margin: 10px 0;
    }

    .seguros .btn, .seguros .btn-prata {
        grid-column: 1 / -1;
        font-size: 14px;
        padding: 10px 20px;
    }
}